@charset "UTF-8";
:root {
  --main-bgrnd-color: #ffffff;
  --accent-color: #2196f3;
  --primary-text-color: #757575;
  --secondary-text-color: #212121;
  --text-color-on-drk-bgrd: #ffffff;
  --drk-bgrd-color: #2f303a;
  --cards-border-color: #eeeeee;
  --duration-cubic: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  background-color: var(--main-bgrnd-color);
}

/* Приберає зайві маржини і падінги в текстових блоках*/
h1, h2, h3, h4, p {
  margin-top: 0;
  margin-bottom: 0;
}

/* Приберає підкреслення з лінків*/
.links {
  text-decoration: none;
}

/* Приберає крапки в списках та падинги */
.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Приберає margin знизу картинки */
img {
  display: block;
}

button {
  cursor: pointer;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-color);
  transition: text-shadow var(--duration-cubic);
}
.logo:hover, .logo:focus {
  text-shadow: 0px 0px 10px rgba(125, 125, 125, 0.5);
}

.logo_black {
  color: var(--secondary-text-color);
}

/* Доповнює стилізацію нижнього логотипа */
.logo_white {
  color: var(--text-color-on-drk-bgrd);
}

.section-title {
  color: var(--secondary-text-color);
  font-size: 36px;
  line-height: 1.167;
  text-align: center;
  margin-bottom: 50px;
}

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 200px;
  border: none;
  font-family: inherit;
  font-size: 16px;
  line-height: 1.88;
  font-weight: 700;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  color: var(--text-color-on-drk-bgrd);
  border-radius: 4px;
  transition: opacity var(--duration-cubic), transform var(--duration-cubic), box-shadow var(--duration-cubic);
}
.button:hover, .button:focus {
  opacity: 0.95;
  transform: translate(-1px, -1px);
  box-shadow: 4px 4px 4px rgba(125, 125, 125, 0.5);
}

/* Стилізація капелюха */
.header {
  border-bottom: 1px solid #ECECEC;
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.site-nav_link.current::after {
  position: absolute;
  display: block;
  content: "";
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
  bottom: 0%;
}

.navigation {
  display: flex;
  align-items: center;
}
.navigation .logo {
  margin-right: 93px;
}

.site-nav {
  display: flex;
}

.site-nav_item:not(:last-child) {
  margin-right: 30px;
}

.site-nav_link {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
  transition: color var(--duration-cubic), text-shadow var(--duration-cubic);
}
.site-nav_link:hover, .site-nav_link:focus {
  color: var(--accent-color);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.site-nav_link.current {
  color: var(--accent-color);
}

/* Стилізація контактів в капелюсі */
.contact-list {
  display: flex;
}
.contact-list .contact-list_item:not(:last-child) {
  margin-right: 30px;
}

.smartphone,
.letter {
  fill: currentColor;
  transition: box-shadow var(--duration-cubic);
}

.header-contact {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  transition: color var(--duration-cubic), text-shadow var(--duration-cubic);
}
.header-contact:hover, .header-contact:focus {
  color: var(--accent-color);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.header-contact:hover .smartphone, .header-contact:focus .smartphone {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.header-contact:hover .letter, .header-contact:focus .letter {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* Стилізація кнопок вибору категорії */
.set-categories {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.set-categories_item:not(:last-child) {
  margin-right: 8px;
}

.categories-but {
  border: none;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  color: var(--secondary-text-color);
  background-color: #f5f4fa;
  border-radius: 4px;
  padding: 6px 22px;
  transition: color var(--duration-cubic), background-color var(--duration-cubic), box-shadow var(--duration-cubic);
}
.categories-but.current {
  color: var(--text-color-on-drk-bgrd);
  background-color: var(--accent-color);
}
.categories-but:hover, .categories-but:focus {
  color: var(--text-color-on-drk-bgrd);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* ========= Стилізація галереї ========== */
.project-list {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}

.project-card {
  margin: 15px;
}

.img-project {
  position: relative;
  overflow: hidden;
}

.project-card_link {
  display: block;
  border-radius: 0px 0px 4px 4px;
  transition: box-shadow var(--duration-cubic);
}
.project-card_link:hover, .project-card_link:focus {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}
.project-card_link:hover .hoverer-overlay, .project-card_link:focus .hoverer-overlay {
  transform: translateY(0%);
}

.hoverer-overlay {
  position: absolute;
  background-color: var(--accent-color);
  opacity: 0.9;
  width: 100%;
  height: 100%;
  bottom: 0;
  transform: translateY(100%);
  transition: transform var(--duration-cubic);
}

.overlay-text {
  display: block;
  color: var(--text-color-on-drk-bgrd);
  font-size: 18px;
  line-height: 1.56;
  padding: 63px 24px;
}

.project-card_box {
  border-left: 1px solid var(--cards-border-color);
  border-right: 1px solid var(--cards-border-color);
  border-bottom: 1px solid var(--cards-border-color);
  padding: 20px 24px;
  border-radius: 0px 0px 4px 4px;
}

.name-project {
  color: var(--secondary-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.project {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.88;
}

.footer {
  background-color: var(--drk-bgrd-color);
  padding: 60px 0;
}
.footer .container {
  display: flex;
  align-items: baseline;
}
.footer .social.list {
  display: flex;
  gap: 10px;
}
.footer .logo {
  display: inline-block;
  margin-bottom: 20px;
}
.footer .wrapper-adrs {
  margin-right: 70px;
}

/* ===== стилізація адресного блоку ===== */
.adrs-item:not(:last-child) {
  margin-bottom: 9px;
}

.links.adrs {
  font-style: normal;
  color: var(--text-color-on-drk-bgrd);
  transition: color var(--duration-cubic);
}
.links.adrs:hover, .links.adrs:focus {
  color: var(--accent-color);
}

.mail {
  font-style: normal;
  color: rgba(255, 255, 255, 0.6);
  transition: color var(--duration-cubic);
}
.mail:hover, .mail:focus {
  color: var(--accent-color);
}

.tel {
  /* display: inline-block; */
  font-style: normal;
  color: rgba(255, 255, 255, 0.6);
  transition: color var(--duration-cubic);
}
.tel:hover, .tel:focus {
  color: var(--accent-color);
}

.social-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--text-color-on-drk-bgrd);
  margin-bottom: 20px;
}

/* === Стилізація іконок соцмереж === */
.footer .social-item .links {
  display: flex;
  height: 44px;
  width: 44px;
  background-color: rgb(68, 69, 78);
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  transition: background var(--duration-cubic);
}
.footer .social-item .links:hover, .footer .social-item .links:focus {
  background-color: var(--accent-color);
}

.footer .social-item .links:hover, .footer .social-item .links:focus {
  background-color: rgb(29, 155, 240);
  /* колір твітера (як що прибрати нижні ховери і поставити колір акцент буде по макету*/
}
.footer .social-item .instagram:hover,
.footer .social-item .instagram:focus {
  background-color: rgba(68, 69, 78, 0);
}
.footer .social-item .facebook:hover,
.footer .social-item .facebook:focus {
  background-color: rgba(68, 69, 78, 0);
}
.footer .social-item .youtube:hover,
.footer .social-item .youtube:focus {
  background-color: red;
}
.footer .social-item .linkedin:hover,
.footer .social-item .linkedin:focus {
  background-color: #0a66c2;
}

.instagram-wraper {
  border-radius: 50%;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
}

.facebook-wraper {
  border-radius: 50%;
  background-image: linear-gradient(to bottom, #19aefe, #0062e0);
}

.footer .wrapper-social .social-icon {
  fill: var(--text-color-on-drk-bgrd);
}

/* ====== стилізація форми підписки ===== */
.signup-form {
  margin-left: auto;
}

.label-name {
  display: block;
  margin-bottom: 20px;
  font-weight: 700;
  line-height: 1.1428571429;
  text-transform: uppercase;
  color: var(--text-color-on-drk-bgrd);
}

.user-email-input {
  display: inline-block;
  margin-right: 12px;
  height: 50px;
  width: 358px;
  background: none;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  font-size: 16px;
  line-height: 1.25;
  color: var(--text-color-on-drk-bgrd);
  padding-left: 16px;
  padding-right: 16px;
}
.user-email-input:focus-within {
  border: 1px solid var(--accent-color);
  outline: none;
}
.user-email-input::placeholder {
  font-family: inherit;
  color: rgba(255, 255, 255, 0.6);
}

.icon-send {
  margin-left: 10px;
}/*# sourceMappingURL=portfolio.css.map */